:root {
  --background-color: #282828;
  --foreground-color: #ebdbb2;
  --color-one: #cc241d;
  --color-two: #98971a;
  --color-three: #d79921;
  --color-four: #458588;
  --color-five: #b16286;
  --color-six: #689d6a;
  --color-seven: #ffffff;
}
