:root {
  --background-color: #403e41;
  --foreground-color: #fcfcfa;
  --color-one: #ff6188;
  --color-two: #a9dc76;
  --color-three: #ffd866;
  --color-four: #fc9867;
  --color-five: #ab9df2;
  --color-six: #78dce8;
  --color-seven: #ffffff;
}
