:root {
  --background-color: #2e3440;
  --foreground-color: #d8dee9;
  --color-one: #3b4252;
  --color-two: #bf616a;
  --color-three: #a3be8c;
  --color-four: #ebcb8b;
  --color-five: #81a1c1;
  --color-six: #b48ead;
  --color-seven: #ffffff;
}
