:root {
  --background-color: #1b2b34;
  --foreground-color: #d8dee9;
  --color-one: #343d46;
  --color-two: #ec5f67;
  --color-three: #99c794;
  --color-four: #fac863;
  --color-five: #6699cc;
  --color-six: #c594c5;
  --color-seven: #ffffff;
}
