:root {
  --background-color: #002b36;
  --foreground-color: #839496;
  --color-one: #073642;
  --color-two: #dc322f;
  --color-three: #859900;
  --color-four: #b58900;
  --color-five: #268bd2;
  --color-six: #d33682;
  --color-seven: #ffffff;
}
