:root {
  --background-color: #1d1f21;
  --foreground-color: #c5c8c6;
  --color-one: #cc6666;
  --color-two: #b5bd68;
  --color-three: #f0c674;
  --color-four: #81a2be;
  --color-five: #b294bb;
  --color-six: #8abeb7;
  --color-seven: #ffffff;
}
